:root
{
	--color-principal:#39a900;
	--color-degradadoP_uno: #88ca66;
	--color-degradadoP_dos: #c4e4b3;
	--color-fondo:#fff;
	--letra-uno:calibri;
}
*{
	margin: 0px;
	padding: 0px;
	font-family: var(--letra-uno);
}

body{
	margin: 0px;
	background: var(--color-fondo);
	}
	body::-webkit-scrollbar
	{
		display: none;
	}
br
{
	margin: 20px 0px;
}

h1
{
	font-size: 2.8em;
	text-align: center;
}

h2
{
	font-size: 2rem;
	margin: 10px;
}

h3
{
	margin: 10px;
	font-size: 1.5rem;
}

form
{
	padding: 30px;
}
	input
	{
		border: none;
		padding: 5px;
		background-color: transparent;

		font: 1.6em var(--letra-uno);
		outline: none;/*quita el resaltar de lo input*/
	}
a
{
	text-decoration: none;
	font-size: 2.5vh;
}

p
{
	margin: 20px 0px;
	font-size: 1.1em;
	line-height: 1em;
	text-align: justify;
}

/*header y menu de navegacion*/
ul li
{
	list-style: none;
}

.header
{
	position: fixed;
	top: 0px;
	z-index: 100;

	width: 100%;
	height: 12vh;
	background: var(--color-fondo);
	display: grid;
	place-items: center;
	justify-content: center;
	}

		.logo{
		max-width: 100%;
   	 	height: 140px;
			}
.nav{

	position: fixed;
	display: flex;
	align-items: center;
	top: 12vh;
	z-index: 100;
	color: #26575e;
	height: 4vh;
	width: 100%;
	text-align: center;

	background: var(--color-principal);
	}

	.menu_nav
	{
			visibility: hidden;
			width: 0px;
			height: 0px;
	}		

		.ul{
			font-size: 22px;
			font-weight: 600;
			display: flex;
			align-items: center;
			list-style: none;
			width: 100%;
			height: 0px;
			
			}	

			.li{
				width: 100%;
				height: 40px;
				}
				.novedad{
					position: center;
					object-fit: cover;
					max-width: 100%;
	   	 		height: auto;
				}

				.a
				{
					color: var(--color-fondo);
				}

/*Pagina de inicio*/

.contenedor
{
  display: grid;
  grid-template-columns: 25% 75%;

  position: fixed;
  height: 79%;
  width: 100%;
  top: 191px;
}
	.contenedor::-webkit-scrollbar
	{
		display: none;
	}

   #logos_institucionales{
    margin: 0px;
    height: 100%;

    display: grid;
    grid-template-rows: 50% 50%;
    align-items: center;
    justify-items: center;
    }
	.sena
	{	    
	    margin: auto;
	    width: 80%;
	    max-width: 500px;
	    max-height: 90%;

	    display: grid;
	    place-items: center;

	}

    .sennova
    {
      margin: auto;
	    width: 80%;
	    max-width: 500px;
	    max-height: 90%;

	    display: grid;
	    place-items: center;
        
    }

  #novedades
  {
    width: 100%;
    height: 100%;    

    overflow-y: auto;

    padding-top: 20px;
  }
    #novedades::-webkit-scrollbar
	{
		-webkit-appearance: auto;
	}

    .noticia
    {
      margin: 15px 11%;
      margin-bottom: 0px;
      width: 80%;
    }

      .main
      {
	      padding: 20px;
	      display: grid;
	      grid-template-columns: repeat(2, 1fr);
	      gap: 20px;
      }

      .content-box
      {
	      border: 1px solid black;
	      padding: 20px;
      }
#contador_visitas
{
	z-index: 110;
	position: fixed;
	width: 25%;
	bottom: 40px;
}
	.visitas
	{
		font: 1.5rem var(--letra-uno);
		text-align: center;
	}
/*modal log-in*/

.boton_login
{
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}
	.log_in
	{
		width: 40px;
		cursor: pointer;
	}
.modal
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #111111bd;
	display: flex;
	opacity: 0;
	pointer-events: none;
	transition: opacity .5s .7s;
	--transform: translateY(-100vh);
	--transition: transform .8s;
}
.mostrar--modal
{
	opacity: 1;
	pointer-events: unset;
	transition: opacity .5s;
	--transform: translateY(0);
	--transition: transform .8s .5s;
}
	.contenedor_modal
	{
		margin: auto;
		width: 90%;
		max-width: 600px;
		max-height: 90%;
		background-color: var(--color-fondo);
		border-radius: 16px;
		padding: 2em;
		display: grid;
		gap: .5em;
		place-items: center;
		transform: var(--transform);
		transition: var(--transition);
	}
		.cerrar
		{
			width: 100%;
			display: grid;
			grid-template-columns: 92% 8%;
			align-items: center;
			justify-items: center;
		}
			.boton_cerrar
			{
				align-self: start;
				width: 40px;
				cursor: pointer;
			}
		.titulo_modal
		{
			font-size: 3em;
		}
		.imagen_modal
		{
			width: 95%;
			max-width: 550px;
			margin: 20px;
			margin-top: 10px;
		}
		.formulario_modal
		{
			display: flex;
			flex-direction: column;
			padding: 0px;
			width: 90%;
		}
			.grupo_formulario
			{
				position: relative;
				margin: 13px 0px;
			}

			.usuario_clave
			{
				padding: .3em;
				width: 97%;
				background: none;
				border-bottom: 2px solid black;
			}

			.usuario_clave:focus + .titulo_log_in,
			.usuario_clave:not(:placeholder-shown) + .titulo_log_in
			{
				transform: translateY(-17px) scale(.8);
				transform-origin: left top;
				color: var(--color-principal);
			}

			.titulo_log_in
			{
				color: black;
				font-weight: bolder;
				font-size: 1.4em;
				margin: 10px 0px;
				cursor: pointer;
				position: absolute;
				top:-10px;
				left: 5px;
				transform: translateY(10px);
				transition: transform .5s, color .3s;
			}
			.linea_formulario
			{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 99%;
				height: 2px;
				background-color: var(--color-principal);
				transform: scale(0);
				transform: left bottom;
				transition: transform .4s;
			}

			.usuario_clave:focus ~ .linea_formulario,
			.usuario_clave:not(:placeholder-shown) ~ .linea_formulario
			{
				transform: scale(1);
			}



/*pestaña semillero*/

.titulo_semilleros
{
	padding: 5%;
}
.logos_semilleros
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

	.semillero
	{
		width: 12em;
		background-color: var(--color-fondo);		
	}

/*contenedores de semilleros, pestaña proyectos y grupo idea*/

#contenedor
{
	position: fixed;
	height: 81vh;
	width: 100%;
	top: 16vh;
	overflow-y: auto;

	font-size: 1.5rem;
}
#contenedor::-webkit-scrollbar
{
	display: none;
}
#informacion_semillero
{
	padding: 50px 5%;
	text-align: justify;
	font: 1.5rem var(--letra-uno);
	line-height: 1.5rem;
}
	#redes_sociales
	{
		display: grid;
		grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
		justify-items: center;
		margin: 0px 10px;
		width: 40%;

	}
		#icono_redes
		{
			width: 27px;
		}
	#ficha
	{
		padding: 5px 50px 10px 5px;
		float: left;
		display: grid;
		width: 390px;

		align-items: center;
		align-content: center;

	}
		.logo_semillero
		{
			justify-items: center;
			width: 100%;
			margin-bottom: 20px;
		}
		.informacion_ficha
		{
			margin: 5px 3px;
		}
		.nombre_semillero
		{
			text-align: left;
			padding-top: 15px;
			padding-bottom: 18px;
			line-height: 1em;
		}
		.mision_vision
		{
			display: grid;
			grid-template-columns: 50% 50%;
			align-items: center;

		}
			.mision
			{
				margin-right: 15px;
			}
			.vision
			{
				margin-left: 15px;
			}
		.integrantes_semillero
		{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			margin: 20px 0px;
			margin-inline-start: 40px;
		}
			.semilleristas
			{
				width: 25%;
			}
		.integrantes_proyectos
		{
			margin: 20px 0px;
			margin-inline-start: 40px;
		}
		.proyectos
		{
			margin: 10px 0px;

		}
			.formulario_proyectos
			{
				padding: 0px;
			}

			.input_proyectos
			{
				
				width: 100%;
				font-size: 1.5rem;
				text-align: justify;

				border: none;
				border-bottom: 3px solid var(--color-principal);
				border-bottom-width: 0px;
				background-color: var(--color-fondo);


				cursor: pointer;
				transition: border-bottom-width 0.2s;					
			}
				.input_proyectos:hover
				{					
					border-bottom-width: medium;	
				}
		.a_volver
		{
			display: block;
			padding: 10px 0px;
			text-align: center;
			font-size: 1rem;
		}
			.volver
			{
				color: var(--color-principal);
				font-weight: bold;
			}
			.volver:hover
			{
				cursor: pointer;
				color: black;
			}



/*Pestaña proyectos*/

#barra_filtro
{
	padding: 30px 10px;
	padding-bottom: 20px;
	display: grid;
	grid-template-columns: 120px 45% 350px;
	justify-content: center;
	align-items: center;
	text-align: center;

	font: 1.5rem var(--letra-uno);
}
	#buscador
	{
		border-bottom: 3px solid black;
		vertical-align: middle;
		font-size: 20px;
		margin: 0px 25px;
	}
	#num_registros
	{
		vertical-align: middle;
		text-align: center;
		font-size: 1.5rem;
		width: 100px;
		margin: 0px 20px;
	}
	.numero_opcion
	{
		font: 1rem var(--letra-uno);
		width: 30px;
	}


#titulo_proyectos_registrados
{
	margin: 20px 30px;
	margin-top: 10px;

}

.listado_proyectos
{
	text-align: center;
	margin: 20px 30px;
}
		#fila_proyecto:hover
		{
			background: #c4e4b3;
			transition-property: background-color color;
			transition-duration: 1s;
			transition-timing-function: linear;			
			
		}

	#nombre_proyecto
	{
		text-align: left;

	}
	#nombre_programatica
	{
		text-align: left;
		width: 290px;

	}
	#nombre_investigacion
	{
		text-align: left;
		width: 230px;
	}
	#semillero_tabla
	{
		width: 210px;
	}
	table
	{
		border-collapse: collapse;
		border: 3px solid var(--color-principal);
		border-bottom: 0px;
	}
	th
	{
		padding: 5px;
		border-bottom: 2px solid var(--color-principal);
	}
		#th
		{
			display: flex;
			visibility: hidden;
			width: 0px;
			height: 0px;

		}
	td
	{
		padding: 5px;
		border-bottom: 2px solid var(--color-principal);
	}
	.buscar
	{
		padding: 0px;
	}

#paginacion
{	
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	font-size: 1.5rem;
	

	position: fixed;
	bottom: 35px;
	width: 90%;
	height: 80px;

	margin: 0% 5%;
}
	#pagina_num
	{
		display: flex;
		width: 100%;
		justify-content: center;
	}

	#navegador_paginas
	{
		padding: 20px;
		width: 80%;	
	}
	.ul_paginacion
	{
		display: flex;
		justify-content: space-evenly;
		gap: 10px;
	}

		.li_paginacion
		{
			display: grid;
			align-content: center;
			width: 47px;
			height: 39px;
		}

	.item
	{
		display: grid;
		align-content: center;
		justify-content: center;
		border: 1px solid var(--color-principal);
		
				
		background: var(--color-fondo);

		text-decoration: none;
		color: black;
		margin: 0px;
		padding: 5px 15px;	
	}
	.item:hover
	{
		background: var(--color-principal);
		color: var(--color-fondo);
	}

/*Descripcion de cada proyecto*/

#proyectos
{
	position: fixed;
	width: 100%;
	height: 79%;
	display: grid;
	grid-template-columns: 40% 60%;
	overflow-y: hidden;
	justify-items: center;	
}

#titulo
{
	text-align: center;
}
	.datos_proyecto
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: auto;
		
		line-height: 1.8rem;
		font-weight: normal;
		font-size: 1.7rem;
		text-align: left;
	}

	#portada
	{
		display: grid;
		align-items: center;
		justify-items: center;		
	}
		.evidencia1
		{
			position: fixed;
			vertical-align: middle;
			width: 38%;
			
		}
		.evidencia2
		{
			visibility: hidden;
			margin: 0px;
			width: 0px;
			height: 0px;
		}

#informacion
{
	overflow-y: scroll;
	height:97%;
	margin: 20px;
	margin-bottom: 0px;
	font-size: 1.5rem;
}
	#informacion::-webkit-scrollbar
	{
		-webkit-appearance: auto;
	}

#participaciones_publicaciones
{
	width: 100%;
	font-size: 1.7rem;
}

	.lista_pp
	{
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.lista_item
	{
		list-style: none;
		width: 100%;
		text-align: left;
		overflow: hidden;
	}

	.flecha
	{
		margin-left: auto;
		transition: transform .3;
	}

	.nombre_boton
	{
		display: flex;
		gap: 0.5em;
		align-items: center;
	}

	.nombre_boton--click
	{
		cursor: pointer;
	}

	.nombre_boton h3
	{
		font-weight: normal;
	}
	.nombre_boton h3:hover
	{
		font-weight: bolder;
	}
		.titulo_evento
		{
			margin: 3px;
		}

	.dato .flecha
	{
		transform: rotate(-90deg);
	}

	.informacion_pp
	{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 80%;
		margin: 5px auto;

		border-left: 2px solid black;

		transition: height .4s;
		height: 0;
	}

	.datos_pp
	{
		list-style: none;
		display: block;
		padding: 0 0;

		margin-left: 20px;
	}

	.link_publicacion
	{
		text-decoration: none;
		color: black;
	}

/*ingresar o actualizar proyectos*/
.titulo_ingreso_actualizacion
{
	padding: 2%;

}
.ingreso_actualizacion
{
	width: 18%;
	margin: 5px 15px;
	text-align: center;
	text-decoration: none;
	color: black;
	font-size: 1.3em;
	font-style: italic;
}
	legend
	{
		margin: 30px;
		margin-bottom: 0px;
	}
	.imagen_ingreso_actualizacion
	{
		width: 90%;
		border-radius: 50%;
		box-shadow: 10px 3px 20px 15px #3a37375e;
	}
.volver_intentar
{
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

/*ingresar semillero*/
#formulario_ingreso_semillero
{
	width: 97%;
}
.titulo_ingreso
{
	font-weight: bolder;
	font-size: 1.2em;
	margin-right: 20px;
}
.ingreso_select
{
	font-size: 1.2em;
	margin-right: 20px;
}
	.ingreso_select option
	{
		font-size: 15px;
	}
input[type=number]
{
	width: 10%;
}
#datos_principales
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 10px 50px;
}
	#ingreso_semillero
	{
		width: 70%;
	}
	.ingreso_texto
	{
		border-bottom: 2px solid black;
		font-size: 1.2em;
		margin-right: 5px;
		width: inherit;
	}
	
#datos_secundarios
{
	display: flex;
	flex-direction: column;
	margin: 10px 50px;
	font-size: 1.1em;

}
	.ingreso_comentario
	{
		border: 2px solid black;
		width: 90%;
		height: 170px;
		margin-left: 5%;
		font-size: 1.2em;

	}
#ingreso_redes
{
	font-size: 1em;
	margin: 10px 80px;
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
}
	.block
	{
		display: block;
		font-size: 1.32em;
		margin: 15px 30px;
	}
	.redes
	{
		width: auto;
	}
	#ingreso_redes .ingreso_texto
	{
		width: 60%;
		margin-left: 20px;
	}
.formulario_ingreso
{
	font-size: 2em;
}
#cargar_imagen
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
	#visualizar_imagen
	{
		width: 410px;
		border: 10px dashed var(--color-principal);
		border-radius: 20px;
		padding: 30px;
	}
	#ingreso_logo_semillero
	{
		margin: 10px 50px;
		margin-top: 20px;
		cursor: pointer;

		font: 1.5em var(--letra-uno);
	}

	input::file-selector-button
	{
		border-style: none;
		background-color: transparent;
		cursor: pointer;
	}
		input::file-selector-button:hover
		{
			color: var(--color-principal);
			font-weight: bolder;
			transition: 1s;
		}

/*ingreso semilleristas*/
#ingreso_semilleristas
{
	display: grid;
	grid-template-columns: 50% 50%;
	margin:0px 40px;
}
	#ingreso_semilleristas .ingreso_texto
	{
		width: 90%;
		margin: 0px 15px;
	}
/*ingreso integrantes*/
#confirmacion_ingreso_semillero
{
	position: fixed;
	width: 50%;
	margin: 8% 25%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}
	.confirmacion_ingreso_semillero_logo
	{
		width: 330px;
	}


/*Pie pagina y whatsapp*/

.botonWhatsapp
{
	width: 80px;
	height: 80px;
}
	.whatsapp
	{
		position: fixed;
		right: 10px;
		bottom: 5px;
		z-index: 150;
		border: 0px;
	}

#pie-pagina
{
	position:fixed;
   	left:0px;
   	bottom:0px;
   	height:25px;
   	width:100%;
   	background:var(--color-principal);
   	padding: 5px;
   	text-align: center;
  	font-size: 1.3em;
  	color: var(--color-fondo);
  	z-index: 100;
	}
	.footer
	{
		margin: 0px;
		text-align: center;
	}


/*



boton deslegable https://www.youtube.com/watch?v=jVITFZJEm_k&ab_channel=AlexCGDesign
iconos https://boxicons.com/
 ___________________________________________________________________
 ___________________________________________________________________

*/
 
/* TABLET */

@media only screen and (width <= 1280px) and (orientation: landscape)
{
	/*general*/
	h1
	{
		font-size: 2.5rem;

	}
	h2
	{
		font-size: 1.7rem;
	}
	h3
	{
		font-size: 1.3rem;
	}
	#contenedor
	{
		top: 140px;
		height: 76%;
	}
		p
		{
			font-size: 1.1em;
			margin: 10px;
		}

	/*Encabezado*/

	.header
	{
		height: 101px;
	}
	.logo
	{
		height: 80px;
		padding: 10px 0px;
	}
	.nav
	{
		top: 101px;
	}
		.ul
		{
			font-size: 1.2em;
		}


	/*pestaña inicio*/

	.contenedor
	{
	  grid-template-columns: 20% 80%;
	  height: 76%;
	  top: 140px;
	}
	   #logos_institucionales
	   {
		    height: 100%;

		    display: grid;
		    grid-template-rows: 50% 50%;
		    align-items: center;
		    justify-items: center;
	   	}
			.sena
			{	    
			    margin: 0px 5px;
			    width: 100%;
			}
		  .sennova
		  {
		    margin: 0px 11%;
		    width: 80%;	        
		  }

	  #novedades
	  {
	    width: 100%
	  }

	#contador_visitas
	{
		width: 20%;
	}
		.visitas
		{
			font-size: 1.2em;

		}
	/*modal inicio*/
	.contenedor_modal
	{
		padding: 1.5em;
		padding-bottom: 1em;
		padding-right: 1em;
		margin: auto;
		max-width: 480px;
		max-height: 55%;
	}
		.cerrar
		{
			grid-template-columns: 90% 8%;
		}
			.titulo_modal
			{
				margin: 5px;
				font-size: 2.5em;
			}
			.boton_cerrar
			{
				width: 35px;
			}
		.imagen_modal
		{
			width: 85%;
			max-width: 420px;
			margin: 0px;
		}
		.grupo_formulario
		{
			margin: 12px 0px;
		}
			.usuario_clave
			{
				padding: .2em;
				width: 96%;
			}

	/*pestalla semilleros*/

	.titulo_semilleros
	{
		padding: 20px;
	}
	.logos_semilleros
	{
		padding-top: 20px;
	}
	#lista_semilleros
	{
		padding: 0px;
		margin: 10px;
	}
		.semillero
		{
			width: 8em;
		}
	

	/*informacion semillero*/
	#informacion_semillero
	{
		padding: 30px 4%;
		padding-bottom: 10px;
		font-size: 1.3rem;
		line-height: 1.4rem;
	}
		.nombre_semillero
		{
			padding-top: 10px;
			padding-bottom: 20px;
			font-size: 2.6em;
		}
		.integrantes_proyectos
		{
			font-size: 1.3rem;
		}
			.semilleristas
			{
				width: 30%;
			}
		.input_proyectos
		{
			font-size: 1.3rem;
			width: 100%;
			height: auto;
		}
	#ficha
	{
		padding: 5px 40px 10px 5px;
		width: 260px;
	}
		.logo_semillero
		{
			width: 100%;
			margin-bottom: 10px;
		}
	/*pestaña proyectos*/
	#barra_filtro
	{
		grid-template-columns: 90px 40%;
		font-size: 1.2rem;
		padding: 20px 10px;
	}
		#mostrar_paginas
		{
			visibility: hidden;
			width: 0px;
			height: 0px;
		}
	.listado_proyectos
	{
		margin: 15px;
		font-size: 1.2rem;
	}

		#nombre_programatica
		{
			text-align: center;
			width: 180px;
		}
		#nombre_investigacion
		{
			text-align: center;
			width: 180px;
		}
		#semillero_tabla
		{
			width: 100px;
		}
		table
		{
			width: 87%;
		}
		thead
		{
			font-size: 1.3rem;
		}
			#th
			{
				display: flex;
				visibility: hidden;
				width: 0px;
				height: 0px;
			}
			td
			{
				padding-left: 10px;
				padding-right: 10px;
			}
	#paginacion
	{
		font-size: 1.3rem;
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;

		right: 10px;
		bottom: 45px;
		width: 90px;
		height: 370px;

		margin: 0px 1%;
	}
		#navegador_paginas
		{
			padding: 5px;
		}
		#pagina_num
		{
			text-align: center;
			font-size:0.7em;
		}
		.ul_paginacion
		{
			flex-direction: column;
			align-items: center;
			gap: 3px;
		}
			.li_paginacion
			{
				width: 30px;
				height: 30px;
				justify-content: center;
			}
			.item
			{
				font-size:0.9em;
				padding: 2px 13px;
			}

	/*informacion proyectos*/
	
	#proyectos
	{
		height: 76%;
		grid-template-columns: 100%;
	}

	#portada
	{		
		width: 0px;
	}
		.evidencia1
		{
			visibility: hidden;
			margin: 0px;
		}
		.evidencia2
		{
			visibility: visible;
			margin-top: 5px;
			margin-right: 20px;
			margin-bottom: 10px;
			width: 35%;
			height: auto;
			float: left;
		}

	#informacion
	{
		font-size: 1.3rem;
		margin: 20px 30px;
		height: 96%;
	}
		#titulo
		{
			margin: 10px;
		}
		.datos_proyecto
		{
			font-size: 1.3rem;
			line-height: 1.4rem;
			text-align: center;
			margin-bottom: 30px;
		}
		.informacion_pp
		{
			font-size: 1.3rem;
			width: 90%;
			margin: 5px 20px;
		}

	/*boton whatsapp*/
	.botonWhatsapp
	{
		width: 65px;
		height: 65px;
	}
}

/*
_____________________________________________________________________________________________
_____________________________________________________________________________________________

*/


@media only screen and (width <= 770px) and (orientation: portrait)
{
	.a_volver
	{
		padding: 20px 0px;
	}
		.volver
		{
			font-size: 1.6em;
		}
	#contenedor
	{
		top: 190px;
		height: 80%;
	}
	h1
	{
		font-size: 2em;
	}
	h2
	{
		font-size: 1.3em;
	}
	h3
	{
		font-size: 0.97em;
	}
	/*header*/

	.logo
	{
		width: 75%;
		height: auto;
	}
	.ul
	{
		font-size: 1.1em;
	}

	/*pertaña inicio*/

	.contenedor
	{
		display: flex;
		flex-direction: column-reverse;

		height: 81%;	
		
	}
		#logos_institucionales
		{
			height: 150px;
			grid-template-rows: 100%;
			grid-template-columns: 50% 50%;
		}
			.sena
			{
				width: 45%;
				margin: 0px 28%;
			}
			.sennova
			{
				width: 70%;
				margin: 0px 15%;
			}
	#novedades
	{
		padding: 10px;
		padding-bottom: 10px;
	}
		.main
		{
			padding: 10px;
			padding-bottom: 0px;
			gap: 10px;
		}
			.content-box
			{
				padding: 5px;
			}
	#contador_visitas
	{
		bottom: 35px;
		width: 16%;
	}
		.visitas
		{
			margin: 5px;
		}

	/*pestaña semilleros*/
	.titulo_semilleros
	{
		padding: 3% 1%;
	}
	.semillero
	{
		width: 7em;
	}
	
	/*informacion semillero*/
	#informacion_semillero
	{
		padding: 20px 40px;
		padding-bottom: 0px;
	}
	#ficha
	{
		width: 250px;
		padding-right: 30px;
	}
	.mision_vision
	{
		display: block;
	}
		.mision
		{
			margin: 0px;
		}
		.vision
		{
			margin: 0px;
		}
	.integrantes_semillero
	{
		display: block;
	}
		.semilleristas
		{
			font-size: 1.1em;
			margin-bottom: 5px;
			width: 500px;
		}
	.integrantes_proyectos
	{
		margin: 10px 30px;
		margin-right: 0px;
	}
		.input_proyectos
		{
			font-size: 1.1em;
			line-height: 1.0em;
			margin-bottom: 5px;
		}

	/*pestaña proyectos*/

	#barra_filtro
	{
		padding: 15px 10px;
		grid-template-columns: 120px 45%;
	}
		#mostrar_paginas
		{
			visibility: hidden;
			width: 0px;
			height: 0px;
		}
	#titulo_proyectos_registrados
	{
		margin: 10px 30px;
	}
	.listado_proyectos
	{
		text-align: left;
		margin-left: 50px;
		margin-right: 50px;
		margin-bottom: 0px;
	}
	#semillero_tabla
	{
		width: 60%;
	}
	#buscar_tabla
	{
		width: 30%;
	}
	
	#paginacion
	{
		display: grid;
		width: auto;
		position: static;
		margin: 10px 2%;
		bottom: 35px;
	}
			#pagina_num
			{
				font-size: 0.9em;
			}
			.ul_paginacion
			{
				flex-direction: row;
				gap: 1px;
			}
					.li_paginacion
					{
						width: 25px;
						height: 25px;
					}
							.item
							{
								font-size: 0.8em;
								padding: 2px 6px;
							}

	/*informacion proyectos*/

	#proyectos
	{
		height: 85%;
		grid-template-columns: 100%;
	}

	#portada
	{		
		width: 0px;
	}
	#informacion
		{
			
			margin: 15px 25px;
			margin-bottom: 0px;
			height: 93%;
		}
		.evidencia1
		{
			visibility: hidden;
			margin: 0px;
		}
		.evidencia2
		{
			visibility: visible;
			margin-top: 5px;
			margin-right: 20px;
			margin-bottom: 10px;
			width: 35%;
			height: auto;
			float: left;
		}
		#titulo
		{
			margin: 10px;
		}
		.datos_proyecto
		{
			font-size: 0.9em;
			line-height: 1.4rem;
			text-align: center;
			margin-bottom: 15px;
		}
		.informacion_pp
		{
			font-size: 0.9em;
			width: 90%;
			margin: 5px 20px;
		}
			.titulo_evento
			{
				margin-left: 10px;
			}
			.flecha
			{
				width: 40px;
			}
}

/*_____________________________________________________________________
_______________________________________________________________________
*/

@media only screen and (width <= 580px) and (orientation: portrait)
{
	
	.a_volver
	{
		padding: 10px 0px;
	}
		.volver
		{
			font-size: 1.2em;
		}
	#contenedor
	{
		top: 120px;
		height: 81%;
	}
	h1
	{
		font-size: 1.4em;
	}
	h2
	{
		font-size: 1.2em;
	}
	h3
	{
		font-size: 0.9em;
		margin: 5px;
	}
	p
	{
		font-size: 0.9em;
		margin: 10px 2px;
	}

	/*header*/
	.header
	{
		height: 90px;
	}
		.logo
		{
			width: 90%;
		}
	.nav
	{
		top: 90px;
		height: 30px;
		background-color: var(--color-fondo);
	}

		.menu_nav
		{
			visibility: visible;
			

			position: fixed;
			width: 34px;
			height: 34px;
			top: 88px;
			right: 10px;
		}
			.menu_nav_click
				{
					cursor: pointer;
				}
		.ul
		{
			flex-direction: column;
			width: 45%;
			transition: height .4s;
			height: 0px;
			overflow: hidden;

			position: relative;
			top: 40px;
			right: -100px;
		}
			.li
			{
				background-color: rgba(57, 169, 0, 0.6);
				margin: 0;
			}

	/*pestña inicio*/

	.contenedor
	{
		top: 120px;
		height: 81%;
	}
		#logos_institucionales
		{
			height: 90px;
		}
			.sena
			{
				width: 50%;
				margin: 0px 25%;
			}
			.sennova
			{
				width: 80%;
				margin: 0px 10%;
			}
		#novedades
		{
			padding: 5px;
			padding-left: 20px;
		}
			.noticia
			{
				margin: 0px 3%;
				width: 95%;
			}
			.main
			{
				padding: 10px 0px;
				padding-bottom: 0px;
				gap: 5px;
			}
	#contador_visitas
	{
		width: 30%;
	}
		.visitas
		{
			margin: 0px;
			font-size: 1.1em;
		}

	/*pestañas semillero*/
	.titulo_semilleros
	{
		padding: 4%;
	}
	.logos_semilleros
	{
		margin: 0px;
	}
		form
		{
			padding: 10px;
		}
			.semillero
			{
				width: 3.7em;
			}

	/*informacion semillero*/
	#informacion_semillero
	{
		padding: 15px;
	}
		#ficha
		{
			width: 171px;
			padding: 0px;
			padding-right: 15px;
		}
			.informacion_ficha
			{
				font-size: 0.7em;
				margin: 2px 1px;
			}
		#redes_sociales
		{
			width: 47%;
			grid-template-columns: repeat(5, 20%);
			align-items: center;
		}
			#icono_redes
			{
				width: 20px;
			}
	.mision_vision
	{
		grid-template-columns: 100%;
	}
	.integrantes_semillero
	{
		display: flex;
		font-size: 0.8em;
		margin: 10px 0px;
		margin-left: 35px;
	}
		.semilleristas
		{
			width: auto;
			margin-bottom: 1px;
		}
	.proyectos
	{
		margin: 5px;
	}
		.integrantes_proyectos
		{
			margin: 15px 0px;
			margin-inline-start: 30px;
		}
			.input_proyectos
			{
				font-size: 0.9em;
				margin-bottom: 2px;
			}

	/*pestaña proyectos*/
	#barra_filtro
	{
		padding: 10px;
		grid-template-columns: 80px 50%;
	}
		#buscador
		{
			margin: 0px 10px;
		}
	#titulo_proyectos_registrados
	{
		margin: 5px 30px;
	}
	.listado_proyectos
	{
		margin: 10px 20px;
		margin-bottom: 0px;
		font-size: 0.9em;
	}
		#estado
		{
			width: 27%;
		}
		#nombre_programatica
		{
			width: 65%;
		}
		#nombre_investigacion
		{
			width: auto;
		}
		#semillero_tabla
		{
			width: 60%;
		}
		#buscar_tabla
		{
			width: 27%;
		}
			.buscar
			{
				justify-content: space-between;
			}
				.buscar_imagen
				{
					margin: 0px;
				}
	#paginacion
	{
		margin: 5px 3%;
		grid-template-columns: 40% 60%;
	}
		#pagina_num
		{
			font-size: 0.7em;
			text-align: center;
		}
		#navegador_paginas
		{
			padding: 5px 5%;
			width: 90%;
		}
			.li_paginacion
			{
				width: 20px;
				height: 20px;
			}
				.item
				{
					font-size: 0.7em;
					padding: 0px;
				}

	/*informacion proyectos*/
	#proyectos
	{
		height: 79%;
	}
	#informacion
	{
		margin: 10px 15px;
		height: 97%;
	}
		.evidencia2
		{
			margin: 15px;
			margin-left: 0px;
			width: 45%;
		}
		#titulo
		{
			padding: 0px;
			font-size: 1.05em;
		}
		.datos_proyecto
		{
			margin-bottom: 10px;
			font-size: 0.7em;
			line-height: 1em;
		}
		.titulo_evento
		{
			margin: 3px;
		}
	/*footer y whatsapp*/
	.whatsapp
	{
		right: 5px;
		bottom: 15px;
	}
	.botonWhatsapp
	{
		width: 60px;
		height: 60px;
	}

}

/*
__________________________________________________________________________
_____________________________________________________________________________
*/